/**style sheet**/
body {
  background-color: rgb(248, 245, 66);
}
#header {
  position: fixed;
  display: flex;
  top: 0;
  flex: 0 0 100%;
  background-color: salmon;
}

#section-1 {
  position: relative;
  top: 50px;
}
#section-2 {
  position: relative;
  top: 150px;
}
#section-3 {
  position: relative;
  top: 200px;
}

#form {
  position: relative;
  top: auto;
}
@media and (max-width: 480px) {
  #header {
    position: absolute;
  }
}
